.g2_1 {
  fill: none;
  stroke: #85938a;
  stroke-width: 1.9;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 7;
}
.g3_1 {
  fill: none;
  stroke: #75817a;
  stroke-width: 1.9;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 7;
}
.g4_1 {
  fill: #808080;
}
.g5_1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.9;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 7;
}
.g7_1 {
  fill: #93a299;
}

.s1_1 {
  font-size: 16px;
  fill: currentColor;
  text-decoration: underline;
  color: white;
}
.s2_1 {
  font-size: 16px;
  fill: #ffffff;
}
